<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--     <add key="Server" value="H-tst-sql01.dc.bluepoint.com\Alogent1"/>
    <add key="UserName" value="MitekSearch"/>
    <add key="Password" value="MitekSearchCB2016!"/>
    <add key="ImageOutPath" value="C:"/>     -->    

    <add key="Server" value="~5F4A704D4D2D7C2D74412A402A402A442A402A4A2A2D75442A2D79"/>
    <add key="UserName" value="~5F4A704D4D79616E642F6174567A5C"/>
    <add key="Password" value="~5F4A704D4D59416E642F6174567A5C452A442A492A2D7B432A2D69"/>
    <add key="ImageOutPath" value="~5F4A704D4D4F2A2D7E6F492F6574562F592F5E"/>    
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
